.header {
    height: 22em;
}

@media (max-width: 990px) {
    .header {
        height: auto;
    }

    .QuiSuisJe {
        background-color: black;
        height: 40em !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .pdp {
        height: 300px !important;
    }
    .footer {
        flex-direction: column;
        height: 30em !important;
    }
    .circle {
        margin-top: 25px;
    }

    .title{
        font-size: 50px!important;
    }
    .notFoundtxt {
        font-size: 30px!important;
    }
}

.parallax {
    height: 100vh;
    background-attachment: fixed;
    /* Fixe l'image pendant le scroll */
    background-size: cover;
    /* L'image prendra 100% de l'espace, quitte à la crop */
    background-position: center;
    /* Centre la position de l'image */
    background-repeat: no-repeat;
    /* Empêche l'image de se répéter en fonction de la taille d'écran */

}

.parallax1 {
    background-image: url("https://cdna.artstation.com/p/assets/images/images/039/280/968/large/alexandre-hildans-queen-s-gambit.jpg?1625475848");
}

.parallax2 {
    background-image: url('https://cdnb.artstation.com/p/assets/images/images/059/507/845/large/alexandre-hildans-qg.jpg?1676537676');
}

.APropos {
    width: 70%;
    height: 22em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.lastArticles {
    width: 70%;
}

.pdp {
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 50%;
}

.QSJimg {
    width: 40%;
    display: flex;
    justify-content: center;
}

.QuiSuisJe {
    background-color: black;
    height: 30em;
    display: flex;
    justify-content: center;
}

.QSJtxt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.footer {
    background-color: rgb(40, 40, 40);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22em;
}

.circle {
    margin-left: 50px;
    margin-right: 50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    border: 3px solid #ffffff;
    color: rgb(40, 40, 40);
    text-align: center;
    font: 32px Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PeC {
    display: flex;
    justify-content: center;
    align-items: center;
    font: 25px Arial, sans-serif;
    background-color: grey;
    height: 50px;
    margin-bottom: 0 !important;
}

h4 {
    letter-spacing: -1px;
}


/* Page avec un seul Article */

.title {
    font-size: 100px;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.txt {
    margin: 5%;
    text-align: start;
}

.dateVue {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}

.card {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.formArticles{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.formContenu {
    height: 500px;
}

.remove {
    float: right;
}

.modifier {
    float: left;
}

.img-fluid {
    margin-right: auto;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    display: flex;
}

/* 404 */

.notFoundtxt {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    height: 5em;

}

.notFoundIMG {
    width: 100%;
}